# Creating a .env File for Your PHP Project
# To set up your environment variables, please follow these steps:
# Create a new file named .env in the root directory of your project.
# Copy and paste the following content into the newly created .env file:


# App configuration
APP_ENV=development # development/production
BASE_URL=           # base url or root directory ( this can't be empty; ex: /myproject )
APP_DEBUG=true      # debug mode true/false
DB_HOST=127.0.0.1   # database host
DB_PORT=3306        # database port
DB_DATABASE=NextPHP # database name
DB_USERNAME=root    # database username
DB_PASSWORD=        # database password (Leave blank if you are using localhost)
DB_CONNECTION=mysql
# Note: The default database configuration provided is for MySQL. We apologize if this is not suitable for other databases.

# Mailer configuratrion
MAIL_HOST=smtp.example.com               # Ex: smtp.gmail.com
MAIL_PORT=587                            # 587 or 465
MAIL_USERNAME=your_email@example.com     # Ex: caballeroaldrin02@gmail.com
MAIL_PASSWORD=your_password              # Password provided by the google app not gmail password
MAIL_ENCRYPTION=tls                      # tls or ssl
MAIL_FROM_ADDRESS=your_email@example.com # Ex: caballeroaldrin02@gmail.com
MAIL_FROM_NAME=YourName                  # Ex: "Aldrin Caballero"
